# Byte-compiled / optimized / DLL files
__pycache__/

.idea/
.env

migrations/

db.sqlite3
ssl/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
