option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ke.wsgi:application
  aws:elasticbeanstalk:application:environment:
    "DJANGO_SETTINGS_MODULE": "ke.settings.production"
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
    "BOT_TOKEN": "5264931375:AAH9jbbXi3lhpYtTSjb3kvmUbQUvrDb4Fy0"
    "SECRET_KEY": "django-insecure-2ahtud5%hy@7fkdprac9_pox628v#(ad@t*@t399*na*59k&+="

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic"
    leader_only: true