option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ke.wsgi:application
  aws:elasticbeanstalk:application:environment:
    "DJANGO_SETTINGS_MODULE": "ke.settings.production"
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
    "BOT_TOKEN": "5264931375:AAH9jbbXi3lhpYtTSjb3kvmUbQUvrDb4Fy0"
    "SECRET_KEY": "django-insecure-2ahtud5%hy@7fkdprac9_pox628v#(ad@t*@t399*na*59k&+="

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

